.todo-wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.inputs {
  width: 300px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.input-title {
  font-size: 1rem;
  font-weight: 600;
  color: 666;
  margin-right: 6px;
}

.btn-add {
  display: inline-block;
  margin-left: 1rem;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4481eb;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

.create-todo {
  background-color: #f9f9f9;
  padding: 20px 0;
  margin-bottom: 4rem;
}

.list-wrapper {
  margin-bottom: 6rem;
}
