ul {
  list-style: none;
}

h1,
h2,
ul,
p {
  margin: 0;
}

.todo-wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0 1.4rem;
}

.create-todo {
  background-color: #f9f9f9;
  padding: 20px 0;
  margin: 1rem 0 4rem;
}
